{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap" rel="stylesheet">
     <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
     <title>Фестиваль крафтовых напитков</title>
     <meta name="description" content="Фестиваль крафтовых напитков">
</head>
<body>
    <div class="main-section">
        <div class="main-section__nav-conteiner">
               <header class="main-section__header">
                    <a href="{% url 'home' %}"><img src="{% static 'main/img/pngwing 1.png' %}" alt=""></a>
               </header>
               <!-- Навигационное меню -->
               <nav class="main-section__nav nav-menu">
                    <ul class="nav-menu__list">
                         <li class="nav-menu__list-item"><a href="{% url 'home' %}">Главная</a></li>
                         <li class="nav-menu__list-item"><a href="https://t.me/IgorSuchilin">Подать заявку</a></li>
                    </ul>
               </nav>

          </div>

    <main>
         <div id="second-section" class="second-section__text">
               <a href="#"><h2> НОМИНАЦИЯ {{ cat|upper }} ГОДА:</h2></a>
         </div>
        <div class="category-section">
            {% for p in post %}
                 <div class='category-box'>
                    <div style="background: url(../../static/main/img/drinks{{p.image.url}}) center/cover" class="category-section__cards" ></div>
                    <div class='category-box__text'>
                        <h1 style="font-size:40px">{{p.title}}:</h1><br>
                        <p style="font-family: Georgia, serif;">{{ p.description }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>

</body>
</html>